#mainGame {
    padding: 0;
    margin: 0 auto 1vh auto;
    display: none;
}

html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#loadingGame{
    text-align: center;    
}

#loadingGame>h1{
    font-size: 7em;
}
#loadingProgress{
    font-size: 3em;
}
#clickText{
    font-size: 1.5em;
    visibility: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }

title {
    display: none;
}
@font-face {
    font-family: "Silkscreen";
    src: url("slkscr.ttf");
}

#gamePoints {
    position: absolute;
    font-family: "Silkscreen";
    font-size: 2.5em;
    margin: 0;
    color: #eedddd;
    display: none;
}

#comboScore{
    position: absolute;
    font-family: "Silkscreen";
    font-size: 2.5em;
    margin: 0;
    color: #eedddd;
    display: none;
}

#lineaMin{
    display: none;
    border-color: #4747b9;
    background-color:  #4747b9;
    position: absolute;
    height: 0.5%;
}
#lineaMax{
    display: none;
    border-color: #b34226;
    background-color:  #b34226;;
    position: absolute;
    height: 0.5%;
}

body {
    background-image: url("../images/interfaz/fondo-menu.png");
    background-size: 103vw 103vh;
    min-width: 100vw;
    min-height: 100vh;
	max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
@media (max-aspect-ratio: 85/100)and ( min-aspect-ratio: 1/3) {
    #loadingGame>h1{
        font-size: 4em;
    }
    #loadingProgress{
        font-size: 3em;
    }
    #clickText{
        font-size: 1.5em;
        visibility: hidden;
    }
}