#mainGame {
    padding: 0;
    margin: 0 auto;
    display: none;
}

html {
  height: 100vh;
  width: 100vw;
}

#loadingGame{
    text-align: center;    
}

#loadingGame>h1{
    font-size: 7em;
}
#loadingProgress{
    font-size: 3em;
}
#clickText{
    font-size: 1.5em;
    visibility: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }

body {
    background-image: url("../images/fondo-menu.png");
    background-size: 103vw 103vh;
    background-color: #9e7342;
    min-width: 98.5vw;
    min-height: 98.5vh;
	max-width: 98.5vw;
    max-height: 98.5vh;
	overflow: hidden;
}