html {
  height: 100vh;
  width: 100vw;
}

body {
    background-image: url("../images/fondo-menu.png");
    background-size: 103vw 103vh;
    min-width: 98.5vw;
    min-height: 98.5vh;
	max-width: 98.5vw;
    max-height: 98.5vh;
	overflow: hidden;
}

.scrollButton-max,.scrollButton-min {
    display: block;
    background-image: url("../images/btm-left.png"),url("../images/btm-mid.png"),url("../images/btm-right.png");
    background-repeat: no-repeat;
    background-size: 10% 100%, 80% 100%, 10% 100%;
    background-position-x: 0%, 50%, 100%;
    text-decoration: none;
}
.scrollButton-max{
    height: 20vh;
    width: 48vw;
    margin: 2vh auto;
}
.scrollButton-min{
    height: 12vh;
    width: 25vw;
    margin: 2vh 0;
}
.scrollButton-max:hover, .scrollButton-min:hover {
    display: block;
    background-image: url("../images/btm-left-hover.png"),url("../images/btm-mid-hover.png"),url("../images/btm-right-hover.png");
    color: #e3e6e6;
}
.scrollButton-max:hover{
    height: 22vh;
    width: 51vw;
    margin: 1vh auto;
}
.scrollButton-min:hover{
    height: 13vh;
    width: 26vw;
    margin: 1vh 0;
}
a:link,a:visited,a:active{
    color:white;
}
@font-face {
    font-family: "Silkscreen";
    src: url("slkscr.ttf");
  }


.scrollButton-min>p,.scrollButton-max>p{
    text-anchor: middle;
    text-align: center;
    text-orientation: middle;
    font-family: "Silkscreen";
}
.scrollButton-max>p{
    padding: 7vh 15%;
    font-size: 2.5em;
}
.scrollButton-min>p{
    padding: 5vh 15%;
    font-size: 1.5em;
}

header{
    height: 10vh;
    width: 85vw;
    margin: 3vh auto;
    font-family: "Silkscreen";
    text-align: center;
    font-size: 3.5em; 
    background-image: url("../images/btm-left.png"),url("../images/btm-mid.png"),url("../images/btm-right.png");  
    background-repeat: no-repeat;
    background-size: 4% 100%, 92% 100%, 4% 100%;
    background-position-x: 0%, 50%, 100%;
}


section{
    height: 56vh;
    width: 74vw;
    background-image: url("../images/btm-left.png"),url("../images/btm-mid.png"),url("../images/btm-right.png");  
    background-repeat: no-repeat;
    background-size: 7% 100%, 86% 100%, 7% 100%;
    background-position-x: 0%, 50%, 100%;
    margin: 2vh auto;
    padding: 8vh 6vw 2vh 7vw;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  section>div{
    font-family: "Silkscreen";
    overflow-y: auto;
    height: 53vh;
    overflow-x: hidden;
  }


@media (max-aspect-ratio: 1/3) {
    header{
        font-size: 2em; 
    }
    .scrollButton-max,.scrollButton-min {
        background-size: 15% 100%, 70% 100%, 15% 100%;
    }
}

@media (max-aspect-ratio: 85/100)and ( min-aspect-ratio: 1/3) {
    header{
        height: 4vh;
        font-size:  1.8em;
        background-size: 15% 100%, 80% 100%, 10% 100%;
        padding: 6vh 10vw 6vh 10vw; 
        width: 72vw;
    }
    .scrollButton-max,.scrollButton-min {
        background-size: 15% 100%, 71% 100%, 15% 100%;
    }
    .scrollButton-max>p{
        padding: 8vh 15%;
        font-size: 1.2em;
    }
    .scrollButton-min>p{
        padding: 5vh 5%;
        font-size: 0.9em;
    }
    .scrollButton-min{
        width: 50vw;
    }
    .scrollButton-max{
        width: 72vw;
    }
    .scrollButton-min:hover{
        width: 54vw;
    }
    .scrollButton-max:hover{
        width: 78vw;
    }
    section{
        background-size: 15% 100%, 81% 100%, 10% 100%;
        padding: 8vh 12vw 7vh 14vw;
        width: 72vw;
        height: 40vh;
    }
    section>div{
        height: 43vh;
      }
}

@media (max-aspect-ratio: 1/1)and ( min-aspect-ratio: 85/100) {
    header{
        font-size:  4em; 
    }
    .scrollButton-max,.scrollButton-min {
        background-size: 15% 100%, 70% 100%, 15% 100%;
    }
}

